<!DOCTYPE html>
<html lang="en" ng-app="myLanguageApp">
<head>
	<meta charset="utf-8">
	<title>AngularJS | Controller</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<!-- Good website : https://docs.angularjs.org/guide/-->
</head>
<body>
	<div ng-controller="languages">
		Select Your Favourite Language: 
		<button ng-click="php()">PHP</button>  
		<button ng-click="javascript()">JavaScript</button>  
		<button ng-click="cpp()">C++</button>  
		<button ng-click="java()">Java</button> 

		<p> You have selected: {{ myFavLanguage }} </p>
	</div>


	<script>
		var application = angular.module('myLanguageApp', []);
		application.controller('languages', ['$scope', function($scope){
			$scope.myFavLanguage = 'None';

			$scope.php = function(){
				$scope.myFavLanguage = 'PHP';
			};
			$scope.javascript = function(){
				$scope.myFavLanguage = 'JavaScript';
			};
			$scope.cpp = function(){
				$scope.myFavLanguage = 'C++';
			};
			$scope.java = function(){
				$scope.myFavLanguage = 'Java';
			};

		}]);



	</script>
</body>
</html>
